{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'projects/css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'projects/css/mobilenav.css' %}">
	<link rel="icon" href="{% static 'projects/staticImages/favicon.ico' %}" type="image/gif" sizes="16x16">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	{% block additionalHead %}{% endblock %}

	{% if title %}
	<title>Gavilan CS Club - {{ title }}</title>
	{% else %}
	<title>Gavilan Computer Science Club</title>
	{% endif %}
</head>
<body>
		<div id="wraper">

			<!-- mobile menu(hamburger) -->
			<div class="menu-wrap">
				<input type="checkbox" id="toggle" class="toggler">
				<div class="hamburger"><div></div></div>
				<div class="menu">
					<div>
						<div>
							<ul>
								<li><a href="{% url 'site-home' %}">Home</a></li>
								<li><a href="{% url 'meettheofficers' %}">Meet the officers</a></li>
								<li><a href="{% url 'projects' %}">Projects</a></li>
								<!-- <li><a href="#">Contact</a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- desktop navbar -->
			<div class="background">
				<div class="background-inner">
					
					<header>
						<div class="container">
							<nav>
								<h1 class="computerscience"><a href="{% url 'site-home' %}">Computer Science Club</a></h1>
								<ul>
									<li><a href="{% url 'meettheofficers' %}">Meet the officers</a></li>
									<li><a href="{% url 'projects' %}">Projects</a></li>
										<!-- use %% in {} to 
											interpolate the name of the url that was defined in the ulr.py of Projects folder -->
									<!-- <li><a href="#">Contact</a></li> -->
								</ul>
							</nav>
						</div>
					</header>
				</div>
			</div>


			<!-- this is were the content is loaded in between the block content and endblock content -->
			{% block content %}{% endblock %}

			<!-- this is a hacky way of making the footer stick to the bottom of page
			 if there is not enough content on the page being displayes -->
			<div class="push"></div>
		</div>
			<!-- see class "push" -->
			<div class="footer">
				<div class="footer-social-media-wrapper">
					<h3>Social Media</h3>
					<a href="https://discord.gg/Mgt3yh6" target="_blank">Discord</a>
				</div>
				<div class="footer-copyright">
					<p>Copyright &copy; 2019</p>
				</div>
			</div>
	
 

 <script src="{% static 'projects/javascript/mobilenav.js' %}"></script>
</body>
</html>