{% extends "projectsHTML/base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'projects/css/indexhtml.css' %}">
{% endblock %}
{% block content %}

	<div class="index-BG">
		<br>
		<h1 class="index-welcome">Hello World!!!</h1>

		<br><br><br>

		<div class="index-filler-div">
			<br>
			<h3>Filler1</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler3</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler4</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler5</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>
			
			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>
			
			<br>
			<h3>Filler5</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>
			
			<br>
			<h3>Filler4</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>
			
			<br>
			<h3>Filler3</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>
			
			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>
			
			<br>
			<h3>Filler10</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>
		</div>

	</div>

{% endblock content %}