{% extends "projectsHTML/base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'projects/css/indexhtml.css' %}">
{% endblock %}
{% block content %}

	<div class="index-container">
		<main>
			<section class="hero">
				<div class="container">
					<div class="main-message">
						<h3>The gvialn comupter scien club</h3>
						<h1>adres</h1>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ipsa sint illum vitae, 
							odio ipsum aut! Facere porro culpa eius nam eveniet illum laboriosam autem. Id doloremque nam porro error.
						</p>
					</div>
				</div>
			</section>

			<section class="experience-csis">
				<div class="container">
					<div class="title-heading">
						<h3>Enjoy</h3>
						<h1>The thrilling CS club</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
					</div>

					<div class="activities-grid">
						<!-- grind item #1 -->
						<div class="activities-grid-item room-info">
							<h1>imporve your ccoding</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing 
								elit. Aliquam ab fuga commodi, hic explicabo numquam.</p>
						</div>
						<!-- grind item #2 -->
						<div class="activities-grid-item times-info">
							<h1>porjects</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing 
								elit. Aliquam ab fuga commodi, hic explicabo numquam.</p>
						</div>
							<!-- grind item #3 -->
						<div class="activities-grid-item discord-info">
							<h1>fun</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing 
								elit. Aliquam ab fuga commodi, hic explicabo numquam.</p>
						</div>
					</div>
				</div>
			</section>

			<section class="testimonials">
				<div class="container">
					<div class="testimonial">
						<div class="testimonial-text-box">
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing
								elit. Dolores facere non quidem exercitationem esse sapiente.</p>
						</div>
						<div class="testimonial-student">
							<a class="gav-logo-link" href="https://www.gavilan.edu/academic/csis/cs-club.php" target="_blank">
								<img src="/static/projects/staticImages/GavLogo2jpg.jpg" alt="GavLogo">
							</a>
							<h1>Gavilan College</h1>
						</div>
					</div>
				</div>
			</section>

			<section class="begin-adventure">
				<div class="container">
					<div class="title-heading">
						<h3>let the coding</h3>
						<h1>adveture begin</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
					</div>
					<div class="adventure-grid">
						<!-- adventure grid item #1 -->
						<div class="adventure-grid-item">
							<p>Lorem ipsum dolor </p>
						</div>
						<!-- adventure grid item #2 -->
						<div class="adventure-grid-item">
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</div>
			</section>
		</main>


			<!-- calander app -->
			<div class="index-calander-wrapper">
				<div class="index-big-calander">
					<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;
					ctz=America%2FLos_Angeles
					&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;
					showTitle=0&amp;showTabs=1&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showCalendars=1&amp;showTz=1" 
					style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
					</iframe>
				</div>
				<div class="index-small-calander">
					<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;
					ctz=America%2FLos_Angeles&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&
					amp;showTitle=0&amp;showCalendars=0
					&amp;showNav=1&amp;showDate=1
					&amp;showPrint=0&amp;showTabs=0&amp;showTz=1&amp;mode=AGENDA" 
					style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				</div>

			</div>
	</div>

{% endblock content %}