{% extends "projectsHTML/base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'projects/css/indexhtml.css' %}">
{% endblock %}
{% block content %}

	<div class="index-BG">
		<br>
		<h1 class="index-welcome">Hello World!!!</h1>

		<br><br><br>

		<div class="index-filler-div">
			<br>
			<h3>Filler1</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

						<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

						<br>
			<h3>Filler2</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, deleniti provident sunt expedita facilis fuga.</p>
			<br>

			<br>
			<h3>Events/Calendar</h3>

			<div class="index-calander-wrapper">
				<div class="index-big-calander">
					<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;
					ctz=America%2FLos_Angeles
					&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;
					showTitle=0&amp;showTabs=1&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showCalendars=1&amp;showTz=1" 
					style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
					</iframe>
				</div>
				<div class="index-small-calander">
					<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;
					ctz=America%2FLos_Angeles&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&
					amp;showTitle=0&amp;showCalendars=0
					&amp;showNav=1&amp;showDate=1
					&amp;showPrint=0&amp;showTabs=0&amp;showTz=1&amp;mode=AGENDA" 
					style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				</div>

			</div>
		</div>

	</div>

{% endblock content %}