{% extends "projectsHTML/base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'projects/css/meettheofficershtml.css' %}">
{% endblock %}
{% block content %}

<div class="meet-the-officers-container">
	
	<!-- this is used for the top wave -->
	<div class="wave-top"></div>

	<div class="officersHeadingSection">
		<div class="officerHeadingContainer">
			<h2 class="officerTitle">Current Officers</h2>
		</div>
	</div>

	<div class="officer-content-wraper">
		<div class="officer-content-row">
			<!-- useing djangos for looping method to loog through th list of object
				 and string interpolation to display content based on the loops iteration -->
			{% for officer in activeOfficers %}
				<div class="officer-content">
					<!-- using media_url to palce the file path to where the images are at -->
						<img class="officer-content-img" src="{{ MEDIA_URL }}{{ officer.image }}">
						<h2 class="officer-content-name">{{ officer.officerName }}</h2>
						<p class="officer-content-title">{{ officer.officerPostion }}</p>
				</div>
			{% endfor %}

		</div>
	</div>

	<div class="officersHeadingSection">
		<div class="officerHeadingContainer">
			<h2 class="officerTitle">Former Members</h2>
		</div>
	</div>

	<div class="officer-content-wraper">
			<div class="officer-content-row">
	
				{% for officer in notActivteOfficers %}
				<div class="officer-content">
					<img class="officer-content-img" src="{{ MEDIA_URL }}{{ officer.image }}">
					<h2 class="officer-content-name">{{ officer.officerName }}</h2>
					<p class="officer-content-title">{{ officer.officerPostion }}</p>
				</div>
				{% endfor %}
		
			</div>
		</div>
	
	<!-- this dive is for the bottom wave -->
	<div class="wave-bottom"></div>

</div>

{% endblock content %}