{% extends "projectsHTML/base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'projects/css/meettheofficershtml.css' %}">
{% endblock %}
{% block content %}

<div class="meet-the-officers-container">
	
	<!-- this is used for the top wave -->
	<div class="wave-top"></div>

	<div class="officersHeadingSection">
		<div class="officerHeadingContainer">
			<h2 class="officerTitle">Officers</h2>
		</div>
	</div>

	<div class="officer-content-wraper">
		<div class="officer-content-row">

			<div class="officer-content">
				<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
				<h2 class="officer-content-name">Jose Velasco </h2>
				<p class="officer-content-title">Public Relations Chair</p>
			</div>

			<div class="officer-content">
				<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
				<h2 class="officer-content-name">Jose Velasco </h2>
				<p class="officer-content-title">Public Relations Chair</p>
			</div>

			<div class="officer-content">
				<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
				<h2 class="officer-content-name">Jose Velasco </h2>
				<p class="officer-content-title">Public Relations Chair</p>
			</div>

		<div class="officer-content">
				<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
				<h2 class="officer-content-name">Jose Velasco </h2>
				<p class="officer-content-title">Public Relations Chair</p>
		</div>

			<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco Juarez JR</h2>
					<p class="officer-content-title">Public Relations Chair</p>
			</div>


			<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
				</div>
	
				<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
				</div>
	
				<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
				</div>
	
			<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
			</div>
	
				<div class="officer-content">
						<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
						<h2 class="officer-content-name">Jose Velasco Juarez JR</h2>
						<p class="officer-content-title">Public Relations Chair</p>
				</div>

		</div>
	</div>






	<div class="officersHeadingSection">
		<div class="officerHeadingContainer">
			<h2 class="officerTitle">Former Members</h2>
		</div>
	</div>

	<div class="officer-content-wraper">
			<div class="officer-content-row">
	
				<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
				</div>
	
				<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
				</div>
	
				<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
				</div>
	
			<div class="officer-content">
					<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
					<h2 class="officer-content-name">Jose Velasco </h2>
					<p class="officer-content-title">Public Relations Chair</p>
			</div>
	
				<div class="officer-content">
						<img class="officer-content-img" src="../../static/projects/staticImages/indexBG.jpg" alt="">
						<h2 class="officer-content-name">Jose Velasco Juarez JR</h2>
						<p class="officer-content-title">Public Relations Chair</p>
				</div>
	
	
			</div>
		</div>
	
	<!-- this dive is for the bottom wave -->
	<div class="wave-bottom"></div>

</div>

{% endblock content %}