{% extends "projectsHTML/base.html" %}
{% load static %}
{% block additionalHead %}
<link rel="stylesheet" href="{% static 'projects/css/projectdetailhtml.css' %}">
{% endblock %}
{% block content %}

	<div class="project-main-wrapper">
		<div class="project-width-wraper">
			<img class="project-image" src="{{ MEDIA_URL }}{{ instance.image.url }}">
			<div class="project-heading">
				<h1 class="project-title">{{ instance.title }}</h1>
				<div class="project-date">{{ instance.timestamp }}</div>
				<div class="project-posted-by">{{ instance.author }}</div>
				<div class="project-divider"></div>
			</div>
		<div class="project-body">
			{{ instance.body | safe }}
		</div>
		</div>
	</div>


{% endblock content %}